@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
color:#8f887d ;
background-color:#080707 ;
margin:0px ;
margin: bottom 100px;
font-family;"Roboto Mono", monospace;

}

h1{
color:#7b756c ;
font: size 40px;
}

 p{
    font-size :20px;
 }
 .categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}

.categoria-videos img{

    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{

opacity:1.0;
border: 3px solid #c6a974;

}

.categoria h2{
color: #a58e63;

}


.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #0c0c0c;
    color: #c6a974;
}
